#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}


.html-override {

  transform: translate3d(591.15px, 634.08px, 0px) scale(1) !important;
}

.html-override>div {
  transform: translate3d(591.15px, 634.08px, 0px) scale(1) !important;
  /* Override child div transforms */
}